<ion-header>
  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="preference.currentTab"></ion-back-button>
    </ion-buttons>
    <ion-title class="bold">{{ 'MY_FAVORITES' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #container class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="onReload($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}" refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>

    <ion-row *ngIf="isLoadingViewVisible">
      <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let item of skeletonArray">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-col>
    </ion-row>

    <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_NETWORK' | translate">
    </empty-view>
  
    <empty-view *ngIf="isEmptyViewVisible" icon="heart" [text]="'EMPTY_FAVORITES' | translate">
    </empty-view>

    <ion-row [@staggerIn]="places.length">
      <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let place of places">
        <app-place-card [routerLink]="['../places/' + place.id + '/' + place.slug]"
          [place]="place"
          [extraParams]="{ location: location, unit: preference.unit }">
        </app-place-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll *ngIf="isContentViewVisible" (ionInfinite)="onLoadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <app-footer class="hide-xs-up show-lg-up"></app-footer>

</ion-content>