<ion-header>
  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="bold">{{ 'POSTS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">

  <ion-refresher slot="fixed" (ionRefresh)="onReload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>

    <ion-row class="ion-padding" *ngIf="isLoadingViewVisible">
      <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let item of skeletonArray">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-col>
    </ion-row>

    <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_NETWORK' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" icon="alert-circle-outline" [text]="'EMPTY_POSTS' | translate">
    </empty-view>

    <div *ngIf="isContentViewVisible">

      <!-- Top Slide List -->

      <div class="ion-margin-bottom" *ngIf="slidesTop?.length">
        <swiper (swiper)="onSwiperTopInitialized($event)" [config]="slideTopOpts">
          <ng-template swiperSlide *ngFor="let slide of slidesTop">
            <div class="ion-activatable full-width" (click)="onSlideTouched(slide)">
              <div class="slide-img" [style.background-image]="'url(' + slide.image?._url + ')'">
              </div>
              <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </div>
          </ng-template>
        </swiper>
      </div>

      <ion-row class="ion-padding" [@staggerIn]="posts.length">
        <ion-col class="column-center" size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let post of posts">

          <ion-card button color="white" class="shadow ion-no-margin ion-margin-bottom"
            [routerLink]="['./' + post.id + '/' + post.slug]">

            <div [offset]="100" class="bg-img" defaultImage="./assets/img/placeholder.png"
              [lazyLoad]="post.image?.url()">
            </div>

            <ion-card-content>
              <div class="ion-text-nowrap">
                <ion-text color="dark">
                  <h2 class="bold">{{ post.title }}</h2>
                </ion-text>

              </div>
              <div class="multi-ellipsis">
                <p>{{ post.body }}</p>
              </div>
            </ion-card-content>

          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <ion-infinite-scroll *ngIf="isContentViewVisible" (ionInfinite)="onLoadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div class="ion-margin-vertical" *ngIf="slidesBottom?.length">
      <swiper (swiper)="onSwiperBottomInitialized($event)" [config]="slideBottomOpts">
        <ng-template swiperSlide *ngFor="let slide of slidesBottom">
          <div class="ion-activatable full-width" (click)="onSlideTouched(slide)">
            <div class="slide-img" style="height: 100px;" [style.background-image]="'url(' + slide.image?._url + ')'">
            </div>
            <ion-ripple-effect type="bounded"></ion-ripple-effect>
          </div>
        </ng-template>
      </swiper>
    </div>

  </ion-grid>

  <app-footer class="hide-xs-up show-lg-up"></app-footer>

</ion-content>