ion-content {
  --background: var(--ion-color-light);
}

ion-grid {
  padding: 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

ion-list-header {
  align-items: center;
  padding: 0;

  ion-label {
    margin: 0;
  }
}