<ion-header>
  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="preference.currentTab"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="isContentViewVisible">
      <span *ngIf="isEditMode">
        {{ 'EDIT_PLACE' | translate }}
      </span>
      <span *ngIf="!isEditMode">
        {{ 'ADD_PLACE' | translate }}
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>

    <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_NETWORK' | translate">
    </empty-view>

    <div class="ion-text-center ion-padding-vertical" *ngIf="isLoadingViewVisible">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <ion-row class="ion-justify-content-center" *ngIf="isContentViewVisible">
      <ion-col class="ion-no-padding" size-xs="12" size-lg="9">

        <div class="autocomplete">
          <ion-searchbar class="text-medium ion-margin-vertical" inputmode="search"
            [placeholder]="'ENTER_ADDRESS' | translate" (ionClear)="onSearchCleared()"
            (ionInput)="onSearchAddress($event)">
          </ion-searchbar>

          <ion-list lines="none" class="shadow" *ngIf="suggestions.length" [@staggerIn]="suggestions.length">
            <ion-item class="hover" button detail="false" *ngFor="let suggestion of suggestions"
              (click)="onSuggestionTouched(suggestion)">
              <ion-label>
                <ion-text color="dark">
                  <span class="link bold text-medium">
                    {{ suggestion.description }}
                  </span>
                </ion-text>
              </ion-label>
            </ion-item>
            <div class="ion-margin-bottom ion-text-center">
              <img src="./assets/img/powered_by_google.png" style="width: 20%;" alt="Powered by Google">
            </div>
          </ion-list>
        </div>

        <div class="relative ion-margin-bottom">
          <google-map width="100%" height="250px" [options]="mapOptions" (centerChanged)="onCenterChanged()"
            *ngIf="mapInitialized"></google-map>
          <div class="marker"></div>
        </div>

        <div class="scrollable ion-padding-vertical">
          <app-upload-box [file]="mainUpload" [text]="'FEATURED_IMAGE' | translate"
            (onFileUploaded)="onMainFileUploaded($event)">
          </app-upload-box>
          <app-upload-box [file]="upload.file" *ngFor="let upload of uploads"
            (onFileUploaded)="onFileUploaded($event, upload)">
          </app-upload-box>
        </div>

        <ion-list class="ion-padding">

          <form [formGroup]="form" (ngSubmit)="onSubmit()" #myForm="ngForm" novalidate>

            <ion-list class="ion-margin-bottom" *ngIf="packages && packages.length && !isEditMode">

              <h5 class="ion-no-margin ion-margin-bottom">{{ 'CHOOSE_PACKAGE' | translate }} *</h5>

              <ion-radio-group mode="md" formControlName="package">
                <ion-item-group>
                  <ion-item-divider color="medium" class="radius">
                    <ion-label>{{ 'NEW_PACKAGE' | translate }}</ion-label>
                  </ion-item-divider>
                  <ion-item color="white" class="radius" style="--min-height: 70px; --padding-start: 0"
                    *ngFor="let package of packages">
                    <ion-label class="ion-padding-start ion-text-wrap">
                      <h2 *ngIf="package.salePrice && package.price > package.salePrice">
                        {{ package.name }} - {{ package.finalPrice | currencyGlobal }}
                        <s class="text-small">{{ package.price | currencyGlobal }}</s>
                      </h2>
                      <h2 *ngIf="package.price === package.finalPrice && package.finalPrice !== 0">
                        {{ package.name }} - {{ package.finalPrice | currencyGlobal }}
                      </h2>
                      <h2 *ngIf="package.finalPrice === 0">
                        {{ package.name }} - {{ 'FREE' | translate }}
                      </h2>
                      <p class="text-medium" [innerHTML]="package.description"></p>
                    </ion-label>
                    <ion-radio slot="end" [value]="package.id" color="secondary"></ion-radio>
                  </ion-item>
                </ion-item-group>

                <ion-item-group class="ion-margin-top" *ngIf="userPackages.length">
                  <ion-item-divider color="medium" class="radius">
                    <ion-label>{{ 'PURCHASED_PACKAGES' | translate }}</ion-label>
                  </ion-item-divider>
                  <ion-item color="white" class="radius" style="--min-height: 70px; --padding-start: 0"
                    *ngFor="let userPackage of userPackages">
                    <ion-label class="ion-padding-start ion-text-wrap">
                      <h2>{{ userPackage.package.name }}</h2>
                      <p class="text-medium" [innerHTML]="userPackage.package.description"></p>
                      <div>
                        <ion-badge color="secondary" *ngIf="userPackage.package.listingLimit">
                          {{ userPackage.package.listingLimit - userPackage.usage }} {{ 'LEFT' | translate }}
                        </ion-badge>
                        <ion-badge class="ion-margin-horizontal" color="warning"
                          *ngIf="userPackage.status === 'unpaid'">
                          {{ 'WAITING_PAYMENT' | translate }}
                        </ion-badge>
                      </div>
                    </ion-label>
                    <ion-radio slot="end" [value]="userPackage.id" [disabled]="userPackage.isInvalid()"
                      color="secondary">
                    </ion-radio>
                  </ion-item>
                </ion-item-group>
              </ion-radio-group>
            </ion-list>

            <ion-label position="stacked" color="medium">
              <span>{{ 'PLACE_NAME' | translate }} *</span>
            </ion-label>
            <ion-item class="ion-margin-vertical item-input" color="white" lines="none">
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>

            <div>
              <ion-label position="stacked" color="medium">
                <span>{{ 'CATEGORIES' | translate }} *</span>
              </ion-label>
              <ion-item class="ion-margin-vertical item-input" lines="none" color="white">
                <ion-label></ion-label>
                <ion-select formControlName="categories" [interfaceOptions]="customPopoverOptions" interface="popover" [multiple]="true"
                  [okText]="'OK' | translate" [cancelText]="'CANCEL' | translate">
                  <ion-select-option style="--color: var(--ion-color-secondary)" *ngFor="let category of categories"
                    [value]="category.id">
                    {{ category.title }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>

            <ion-label position="stacked" color="medium">
              <span>{{ 'DESCRIPTION' | translate }}</span>
            </ion-label>
            <ion-item class="ion-margin-vertical item-input" lines="none" color="white">
              <ion-textarea rows="4" formControlName="description"></ion-textarea>
            </ion-item>

            <div>
              <ion-label position="stacked" color="medium">
                <span>{{ 'PRICE_RANGE' | translate }} *</span>
              </ion-label>
              <ion-item class="ion-margin-vertical item-input" lines="none" color="white">
                <ion-select formControlName="priceRange" [interfaceOptions]="customPopoverOptions" interface="popover" [okText]="'OK' | translate"
                  [cancelText]="'CANCEL' | translate">
                  <ion-select-option style="--color: var(--ion-color-secondary)" [value]="null">{{ 'UNSPECIFIED' |
                    translate }}</ion-select-option>
                  <ion-select-option style="--color: var(--ion-color-secondary)" value="$">$</ion-select-option>
                  <ion-select-option style="--color: var(--ion-color-secondary)" value="$$">$$</ion-select-option>
                  <ion-select-option style="--color: var(--ion-color-secondary)" value="$$$">$$$</ion-select-option>
                  <ion-select-option style="--color: var(--ion-color-secondary)" value="$$$$">$$$$</ion-select-option>
                  <ion-select-option style="--color: var(--ion-color-secondary)" value="$$$$$">$$$$$</ion-select-option>
                </ion-select>
              </ion-item>
            </div>

            <ion-label position="stacked" color="medium">
              <span>{{ 'ADDRESS' | translate }}</span>
            </ion-label>
            <ion-item class="ion-margin-vertical item-input" lines="none" color="white">
              <ion-input type="text" formControlName="address"></ion-input>
            </ion-item>

            <ion-label position="stacked" color="medium">
              <span>{{ 'EMAIL' | translate }}</span>
            </ion-label>
            <ion-item class="ion-margin-vertical item-input" lines="none" color="white">
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>

            <ion-label position="stacked" color="medium">
              <span>{{ 'PHONE' | translate }}</span>
            </ion-label>
            <ion-item class="ion-margin-vertical item-input" lines="none" color="white">
              <ion-input type="tel" formControlName="phone"></ion-input>
            </ion-item>

            <ion-label position="stacked" color="medium">
              <span>WhatsApp</span>
            </ion-label>
            <ion-item class="ion-margin-vertical item-input" lines="none" color="white">
              <ion-input type="tel" formControlName="whatsapp" [placeholder]="'WHATS_APP_PLACEHOLDER' | translate">
              </ion-input>
              <ion-note slot="helper">{{ 'WHATS_APP_HELPER' | translate }}</ion-note>
            </ion-item>

            <ion-label position="stacked" color="medium">
              <span>{{ 'WEBSITE' | translate }}</span>
            </ion-label>
            <ion-item class="ion-margin-vertical item-input" lines="none" color="white">
              <ion-input type="url" formControlName="website"></ion-input>
            </ion-item>

            <ion-label position="stacked" color="medium">
              <span>Facebook</span>
            </ion-label>
            <ion-item class="ion-margin-vertical item-input" lines="none" color="white">
              <ion-input type="url" formControlName="facebook" placeholder="https://"></ion-input>
            </ion-item>

            <ion-label position="stacked" color="medium">
              <span>Instagram</span>
            </ion-label>
            <ion-item class="ion-margin-vertical item-input" lines="none" color="white">
              <ion-input type="url" formControlName="instagram" placeholder="https://"></ion-input>
            </ion-item>

            <ion-label position="stacked" color="medium">
              <span>Youtube</span>
            </ion-label>
            <ion-item class="ion-margin-vertical item-input" lines="none" color="white">
              <ion-input type="url" formControlName="youtube" placeholder="https://"></ion-input>
            </ion-item>

            <div class="ion-text-center">
              <ion-button type="submit" strong color="secondary" style="width: 200px;" [disabled]="isSaving">
                <ion-spinner *ngIf="isSaving"></ion-spinner>
                <span *ngIf="!isSaving">{{ 'SUBMIT' | translate }}</span>
              </ion-button>
            </div>

          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer class="hide-xs-up show-lg-up"></app-footer>

</ion-content>